.container {
  position: fixed;
  bottom: 0px;
  z-index: 2;
  background-color: #71c9ce;
  width: 100%;
  text-align: center;
  text-decoration: none;

}

a {
  text-decoration: underline;
  color: rgb(39, 0, 182);
}
