<app-nav-bar></app-nav-bar>
<div class="container">
  <h2>Purpose</h2>
  <hr />
  <p>The purpose of this web application is to simulate a store.</p>
  <h2>Components</h2>
  <hr />
  <p>
    Although these are some difficult times, this store has customers. Each
    customer has a first name, a last name and a list of products. What he
    doesn't know is that we know the exact total price of the items he's chosen.
  </p>
  <p>
    There are products in this store. Jeans, t-shirts and dresses. Each product
    has a color, price and size.
  </p>
  <p>
    Of course there are dressing rooms. Three of those. They can be either
    occupied or free. A customer can not use a dressing room if he has more than
    3 products. Or if all the dressing rooms are full. Who would've guessed?
  </p>
</div>
<app-footer></app-footer>
