a:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: black;
}


.container {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #cbf1f5;
  z-index: 5;
}

nav {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0 10em;



  h2 {
    text-align: right;
  }
}
