a:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: black;
}


.container {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 5;
}

nav {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  padding: 0 6em;



  h2 {
    text-align: center;
  }
}
