<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="left">
    <button (click)="a()">Customers</button><button>Products</button
    ><button>
      Jeans</button
    ><button>T-shirts</button><button>Dresses</button
    ><button>
      Dressrooms
    </button>
    <button>Select customer</button>
    <button>Add customer</button>
    <button>Remove customer</button>
    <button>Use Dressroom</button>
    <button>Free Dressroom</button>
    <button>Add product</button>
    <button>Show total</button>
  </div>
  <div class="right">
    <div class="default"></div>
  </div>
</div>
<app-footer></app-footer>
