<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="left">
    <button (click)="(displayCustomers=='none')? displayCustomers='block':displayCustomers='none'">Customers </button>
    <button>Products</button>
    <button>Jeans</button>
    <button>T-shirts</button>
    <button>Dresses</button>
    <button>Dressrooms</button>
    <button>Select customer</button>
    <button (click)='addCustomer()'>Add customer</button>
    <label for="custFName">First Name:</label>
    <input type="text" (keyup)="custFName=$event.target.value"> <br>
    <label for="custLName">Last Name:</label>
    <input type="text" (keyup)="custLName=$event.target.value">
    <button (click)="removeCustomer(selectedCustomer)">Remove customer</button>
    <button>Use Dressroom</button>
    <button>Free Dressroom</button>
    <button>Add product</button>
    <button>Show total</button>
  </div>
  <div class=" right">
    <div class="customersList" [style.display]="displayCustomers">
      <div class="customers" *ngFor="let Customer of customers; index as i" (click)="selectCustomer(i)">
        First Name: {{ customers[i].custGetter()[1] }}
        Last Name: {{ customers[i].custGetter()[2] }} <br />
      </div>
      <p *ngIf="(selectedCustomer !=null|| undefined)">Selected customer is:
        First Name: {{ customers[selectedCustomer].custGetter()[1] }}
        Last Name: {{ customers[selectedCustomer].custGetter()[2] }} <br />
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>